.app {
  max-width: 1440px;
  min-height: calc(100vh - 24px - 32px); /* top and bottom paddding */
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 32px 40px 24px;
}
