.card-modal__container .modal__image {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}

.modal__text-section {
  margin: 20px 32px 32px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.modal__heading {
  margin: 0px 0px 12px;
}

.modal__heading:last-child {
  margin-bottom: 0px;
}

.card-modal__container .modal__close {
  background-image: url("../assets/CloseWhite.svg");
}

.modal__delete {
  border: none;
  background-color: transparent;
  color: #ff4d00;
  font-family: inherit;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

@media screen and (width <= 490px) {
  .card-modal__container .modal__heading:last-child {
    margin-bottom: 40px;
  }
}
