.card-modal__container .modal__image {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}

.modal__text-section {
  margin: 20px 32px 32px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.modal__heading {
  margin: 0px 15px 12px 0px;
}

.modal__delete {
  text-wrap: nowrap;
}

.modal__heading:last-child {
  margin-bottom: 0px;
}

.card-modal__container .modal__close {
  background-image: url("../assets/CloseWhite.svg");
}
