.modal_type_edit-profile-modal .form__header {
  margin-bottom: 24px;
}

.modal_type_edit-profile-modal .form__field {
  margin-bottom: 12px;
}

.modal_type_edit-profile-modal .form__submit {
  margin-top: 0px;
}
