.card {
  border-radius: 19px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 19px;
  overflow: hidden;
}

.card__image {
  max-width: 100%;
  cursor: pointer;
}

.card__overlay-elements {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.card__title {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 0px 12px;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card__heart {
  width: 18px;
  height: 16px;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__heart:hover {
  opacity: 0.5;
}

.card__heart-liked {
  content: url("../assets/HeartLiked.svg");
}
