.modal {
  display: flex;
  place-items: center;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s linear, visibility 0.3s;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__header {
  padding: 28px 28px 0px;
  margin-bottom: 24px;
}

.modal__container {
  box-sizing: border-box;
  flex-basis: 496px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.modal__close {
  border: none;
  height: 16px;
  width: 16px;
  right: 20px;
  top: 20px;
  position: absolute;
  background: center no-repeat url("../assets/CloseBlack.svg");
  background-size: contain;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.8;
}
