.modal_type_new-garment .modal__close {
  opacity: 0.3;
}

.modal_type_new-garment .modal__close:hover {
  opacity: 0.8;
}

@media screen and (width <= 490px) {
  .modal_type_new-garment {
    place-items: end;
    padding: 0px;
  }
  .modal_type_new-garment .modal__container {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
